#fn1{
    position: absolute;
    width: 870px;
    top: 40%;
    align-content: center;
    left: 53%;
    font-size: 20px;
    color: lightgreen;
    font-family: Geneva;
    transform: translate(-50%, -50%);
}
#fn2{
    position: absolute;
    width: 870px;
    top: 42%;
    left: 56%;
    align-content: center;
    font-size: 18px;
    color: lightgreen;
    font-family: Geneva;
    transform: translate(-50%, -50%);
}
#val {
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 30px;
    font-weight: bold;
    font-family: Geneva;
    transform: translate(-50%, -50%);
}
#sellang{
    padding: 4px;
    border: 2px solid black;
    border-radius: 5px;
    width: 250px;
    font-size: 16px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#fn3{
    position: absolute;
    width: 870px;
    top: 68%;
    left: 64%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: darkgreen;
    font-family: Geneva;
}
#fn4{
    position: absolute;
    width: 870px;
    top: 71%;
    left: 64%;
    font-family: Geneva;
    transform: translate(-50%, -50%);
    font-size: 22px;
}
#hidefn{
    position: absolute;
    font-size:18px ;
    padding:6px ;
    margin-right:4px ;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
h1 {
     margin: 120px 150px;
    font = "italic bold 20px arial,serif"
}